{% extends "base.html" %}
{% block head %}
<link rel=stylesheet href="{{ STATIC_URL }}less/about.less">
{% endblock %}

{% block content %}
<div id="greetings">
    <h3>HelloAnnArbor is a project by <a href="http://torehan.me">Torehan Sharman</a> to try to collect and showcase of all Ann Arbor's talents.</h3>
    <h3>The project was inspired by <a href="http://prtlnd.com">PRTLND</a>.</h3>
    <h3>HelloAnnArbor is built with Django. The source code will soon be up on Github.</h3>
    <h3>Add yourself to HelloAnnArbor <a href="/join">here</a></h3>
</div>
{% endblock %}
